<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ws.wiklund.whiskeyguiden"
      android:versionCode="2"
      android:versionName="1.0.1"
	  android:minSdkVersion="10" 
	  android:targetSdkVersion="17">

 	<uses-permission
        android:name="android.permission.INTERNET" />
 	<uses-permission 
 	    android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:theme="@style/CustomTheme" 
    	android:allowBackup="true">
        <activity android:name="ws.wiklund.whiskeyguiden.activities.WhiskeyListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        
        <activity android:name="ws.wiklund.whiskeyguiden.activities.AddWhiskeyActivity"
        		  android:label="@string/add_whiskey_name" 
        		  android:noHistory="true" />

        <activity android:name="ws.wiklund.whiskeyguiden.activities.ModifyWhiskeyActivity"
        		  android:label="@string/modify_beer_name" 
        		  android:noHistory="true" />

        <activity android:name="ws.wiklund.whiskeyguiden.activities.WhiskeyActivity" />

        <activity android:name=".activities.AboutActivity"
        		  android:label="@string/app_name" 
        		  android:noHistory="true" />
        
        <activity android:name=".activities.StatsActivity"
        		  android:label="@string/stats" 
        		  android:noHistory="true" />
        
        <activity android:name="ws.wiklund.guides.activities.FullAdActivity" 
        		  android:noHistory="true" />
        
        <activity android:name="ws.wiklund.guides.activities.FullSizeImageActivity" 
				  android:noHistory="true" />
        
        <activity android:name=".activities.DonateActivity" 
        		  android:noHistory="true" />
        
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
       		  android:noHistory="true" />

        <activity android:name="com.paypal.android.MEP.PayPalActivity"
 				  android:theme="@android:style/Theme.Translucent.NoTitleBar"
 				  android:configChanges="keyboardHidden|orientation" />
        
        <activity android:name=".activities.BeerTabsActivity" />

        <activity android:name="ws.wiklund.whiskeyguiden.activities.WhiskeyFlowActivity" />
        
	</application>
</manifest>
